# Debian packaging build files
*.debhelper
*.debhelper.log
*/debian/files
*/debian/*.substvars
*/debian/*.debhelper
*/debian/*.debhelper.log
*/debian/*.log
*/debian/*.gz
*/debian/*.xz
*/debian/*.ddeb
*/debian/*.udeb
*/debian/*.changes
*/debian/debhelper-build-stamp
*/debian/tmp
*/debian/*~

# Build artifacts
*.deb
*.build
*.buildinfo
*.changes
*.tar.*
*.dsc

# artifacts from gbp
debian/debhelper-build-stamp
debian/files
debian/tenstorrent-tools.substvars
debian/tenstorrent-tools/

# systemd service files copied for building
debian/tenstorrent-hugepages.service
debian/dev-hugepages\\x2d1G.mount
