[Unit]
Description=Script that configures hugepages for Tenstorrent ASICs
After=multi-user.target dev-hugepages\x2d1G.mount
Requires=dev-hugepages\x2d1G.mount

[Service]
Type=simple
ExecStart=/opt/tenstorrent/bin/hugepages-setup.sh
User=root
Restart=no
SuccessExitStatus=0
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
