name: Build Release debian package - Manual Trigger
run-name: Build Release debian package - Manual Trigger
on:
  workflow_dispatch:

jobs:
  builddeb:
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt install -y git-buildpackage debhelper
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0
      - run: git tag
      - run: gbp buildpackage --git-ignore-branch
      - name: Move Debian packages
        run: mkdir -p artifacts && mv ../*.deb artifacts/
      - name: Set environment variable for deb filename
        id: deb_filename
        run: echo "DEB_FILENAME=$(basename artifacts/*.deb)" >> $GITHUB_ENV
      - name: Upload Debian package
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.DEB_FILENAME }}
          path: artifacts/*.deb
